[Unit]
Description=Hadoop NameNode
After=network.target

[Service]
Type=simple

User={{ hadoop_user }}
Environment="JAVA_HOME={{ java_home }}"
Environment="HADOOP_CONF_DIR={{ hadoop_dist }}/etc/hadoop"
ExecStart={{ hadoop_dist }}/bin/hdfs --daemon start namenode
ExecStop={{ hadoop_dist }}/bin/hdfs --daemon stop namenode
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
